logs
project/project
project/target
target
node_modules
.bin
tmp
.history
dist
.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/node_modules
/app/assets/javascripts/build/
protobuf/
.bsp/
/tmp
.DS_Store

/solr/filestore
/solr/*/data/
/solr/*/data/index/
/solr/*/data/tlog/

/local_http_req/
/.idea/
/.idea/httpRequests/

descartes/.bsp/
/.sdkmanrc
